.basket {
    height: 100vh;
    background-color: #161516;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    padding-top: 53px;
    padding-bottom: 38px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 63px;
}

.basket__img {
    width: 32px;
    height: 32px;
    border: 1px solid #D58C51;
    border-radius: 32px;
    padding: 10px;
    margin-left: 70px;
}

.basket__img:hover {
    cursor: pointer;
}

.basket__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    text-align: center;
}

.basket__container {
    width: 100%;
    background-color: #161516;
    height: 100%;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer {
    border-top: 1px solid #D58C51;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center; 
    width: 100%;
    background-color: #161516;
    height: 90px;
}

.basket__total {
    display: flex;
    width: 860px;
    margin:0 auto;
    align-items: center;
    padding-top: 20px;
}

.basket__text {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 16px;
}

.basket__amount {
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
}

.basket__button {
    width: 200px;
    height: 42px;
    background: #D58C51;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
    border: none;
    margin: 0 0 0 auto;
}

.basket__button:hover {
    cursor: pointer;
    box-shadow: 5px 6px 5px 1px rgba(0, 0, 0, 0.24);
}

.basket__sht {
    color: grey;
    padding-left: 10px;
}

.basket__out {
    position: absolute;
    width: 200px;
    height: 42px;
    left: 1176px;
    top: 52px;
    border: 1px solid #D58C51;
    background-color: #161516;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #D58C51;
}

.basket__out:hover {
    cursor: pointer;
}