.card {
    width: 312px;
    height: 552px;
    border: 1px solid #D58C51;
    margin-right: 20px;
    padding: 43px 22px 0;
    margin-bottom: 35px;
    position: relative;
}

.card:hover {
    color: #D58C51;
}

.card__title {
    padding-top: 31px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.card__title:hover {
    cursor: pointer;
}

.card__description {
    padding-top: 10px;
    display: flex;
    font-size: 14px;
    line-height: 17px;
}

.card__price {
    width: 65px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    position: absolute;
    bottom: 36px;
}

.card__weight {
    width: 60px;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    bottom: 36px;
    left: 90px;
}

.card__btn {
    width: 30px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    background-color: #161516;
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    bottom: 32px;
    left: 255px;
}

.card__btn:hover {
    background-color: #D58C51;
    cursor: pointer;
    border-color: #D58C51;
}

.card__minus {
    width: 30px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    background-color: #161516;
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    bottom: 32px;
    left: 200px;
    display: flex;
    justify-content: center;
}

.card__minus:hover {
    background-color: #D58C51;
    cursor: pointer;
    border-color: #D58C51;
}

.card__quantity {
    position: absolute;
    bottom: 36px;
    left: 238px;
    height: 18px;
}

