.card-b {
    height: 132px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}

.card-b__pic {
    width: 132px;
    height: 132px;
}

.card-b__title {
    margin-left: 90px;
    margin-right: 120px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
    width: 310px;
}

.card-b__price {
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
    width: 80px;
}

.card-b__btn {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #161516;
    border: 1px solid #D58C51;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.card-b__btn:hover {
    cursor: pointer;
    border: 3px solid #D58C51;
}

.card-b__sht {
    margin: 0 7px;
    color: #D58C51;
}

.card-b__pm {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #161516;
    border: 1px solid #D58C51;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    color:#D58C51;
}

.card-b__pm:hover {
    background-color: #D58C51;
    cursor: pointer;
    border-color: #D58C51;
    color: #161516;
}