.entrance {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../../../public/images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.form_one {
    width: 460px;
    height: 340px;
    background: #FFFFFF;
}

.link {
    position: relative;
    width: 99px;
    height: 14px;
    margin: 9px 20px 13px auto;
    display: flex;
    justify-content: flex-end;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #D58C51;
    text-align: right;
    text-decoration-color: #D58C51;
}

.link:active {
    color: #D58C51;
}

.form__title {
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color: #161516;
    text-align: center;
    margin-bottom: 36px;
}

.form__line {
    width: 420px;
    height: 39px;
    border: 1px solid #D58C51;
    border-radius: 61px;
    margin-left: 18px;
    padding-left: 18px;
    margin-bottom: 15px;
}

.form__line::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #161516;
}

.form__line:focus {
    border: 1px solid #1e9107;
    outline: #1e9107;
}

.form__agreement {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.checktext {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #301411;
    padding-left: 9px;
}

.form__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.form__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.form__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #D58C51;
    border-radius: 18px;
    background-repeat: no-repeat;
    background-position: center center;
}

.form__checkbox:checked+label::before {
    background-image: url(../../../public/images/galochka.svg);
}

.button-submit {
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    height: 42px;
    background: #D58C51;
    position: absolute;
    margin: 30px 130px 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
}

.button-submit:hover {
    cursor: pointer;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.error {
    margin-left: 38px;
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;
    color: #FF0B0B;
    height: 10px;
}