#form_two {
    width: 460px;
    height: 340px;
    background: #FFFFFF;
}

.totalError {
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    color: #FF0B0B;
    margin-top: 8px;
}

#submitEntr {
    margin-top: 28px;
}

