.description {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-image: url(../../../public/images/description.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(22, 21, 22, 1);
}

.description__img {
    width: 32px;
    height: 32px;
    border: 1px solid #D58C51;
    border-radius: 32px;
    padding: 10px;
    margin-left: 70px;
}

.description__img:hover {
    cursor: pointer;
}

.description__total {
    position: absolute;
    top: 51px;
    left: 914px;
    color: white;
    width: 170px;
    height: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.description__basket {
    width: 50px;
    height: 50px;
    background: #D58C51;
    border-radius: 50px;
    position: absolute;
    top: 48px;
    left: 1104px;
    border: none;
    padding: 15px;
}

.description__basket:hover {
    cursor: pointer;
}

.description__out {
    position: absolute;
    width: 200px;
    height: 42px;
    left: 1176px;
    top: 52px;
    border: 1px solid #D58C51;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #D58C51;
}

.description__out:hover {
    cursor: pointer;
}

.description__tobasket {
    font-family: 'Montserrat';
    width: 200px;
    height: 42px;
    background: #D58C51;
    border: none;
    position: absolute;
    left: 1058px;
    top: 520px;
}

.description__tobasket:hover {
    cursor: pointer;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
