.products {
    height: 100vh;
    background-color: #161516;
    font-family: 'Montserrat', sans-serif;
}

.products__title {
    color: #ffffff;
    text-transform: uppercase;
    padding: 54px 0 80px 70px;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
}

.products__container {
    height: calc(100vh - 172px);
    overflow-x: auto;
    padding-left: 70px;
    padding-bottom: 30px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.products__total {
    position: absolute;
    top: 51px;
    left: 914px;
    color: white;
    width: 170px;
    height: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.products__basket {
    width: 50px;
    height: 50px;
    background: #D58C51;
    border-radius: 50px;
    position: absolute;
    top: 48px;
    left: 1104px;
    border: none;
    padding: 15px;
}

.products__basket:hover {
    cursor: pointer;
}

.plus {
    width: 30px;
    height: 30px;
    background-color: #161516;
    border: 1px solid #ffffff;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.plus:hover {
    cursor: pointer;
    background-color:#D58C51;
}

.products__out {
    position: absolute;
    width: 200px;
    height: 42px;
    left: 1176px;
    top: 52px;
    border: 1px solid #D58C51;
    background-color: #161516;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #D58C51;
}

.products__out:hover {
    cursor: pointer;
}