.card-desc {
    display: flex;

    margin-left: 140px;
}

.card-desc__pic {
    width: 501px;
    height: 503px;
    margin-right: 200px;
}

.card-desc__about {
    width: 530px;
    padding-top: 45px;
}

.card-desc__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #D58C51;
}

.card-desc__text {
    color: #FFFFFF;
    padding-top: 20px;
    font-size: 14px;
    line-height: 17px;
}

.card-desc__price {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    position: absolute;
    top: 528px;
}

.card-desc__weight {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 70px;
    height: 22px;
    position: absolute;
    top: 532px;
    left: 928px;
}
